;
; BIND data file for local loopback interface
;
$TTL    604800
@       IN      SOA     ns1.HOST.COM. admin.HOST.COM. (
                        201604261       ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;

; Name server
HOST.COM.    IN      NS      ns1.HOST.COM.
; A records for name server
HOST            IN      A       SERVERIP
; Other A records
@               IN      A       SERVERIP
www             IN      A       SERVERIP
home            IN      A       HOMEREPLACEME
